.card {
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

.card:hover {
  background-color: var(--mantine-primary-color-light);
  transform: translateY(-4px);
}

.card:hover .iconArrow {
  transform: translateX(4px);
}

.iconArrow {
  transition: transform 0.2s ease;
}
