.icon {
  width: 20px;
  height: 20px;
}

.light {
  @mixin light {
    display: block;
  }
  @mixin dark {
    display: none;
  }
}

.dark {
  @mixin light {
    display: none;
  }
  @mixin dark {
    display: block;
  }
}
